{% extends "basetesting.html" %}

{% block title %}Excel{% endblock %}

{% block content %}

<div>
    <h1>Excel</h1>
        <ul>
            <li>Excel - Custom formatting and spreadsheet design to meet your needs.</li>
            <li>VBA - Automated tasks and programming to eliminate manual manipulation</li>
            <li>Formulas - advanced formulas including VLOOKUP, INDEX/MATCH, CONCATENATE, etc.</li>
            <li>Userforms - Are your staff or volunteers intimidated of spreadhsheets?  Let me design a user-friendly form to aid in data entry</li>
        </ul>

    <hr>
    <p id="timenow" >It is now {{ current_date }}.</p>
</div>
{% endblock %}